#reset {
	margin: 20px auto;
	justify-content: center;
	display: flex;
}

#container {
	position: relative;
	font-size: 0;
	width: 960px;
	height: 960px;
	padding: 0;
	margin: auto;
	outline: 2px solid #000;
	border: none;
}

.unit {
	margin: 0;
	padding: 0;
	outline: 1px solid #000;
	border: none;
	display: inline-block;
}